{% extends 'index.html' %}
{% load static socialaccount %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />

<div class="container py-5 d-flex justify-content-center">
  <div class="col-lg-6 col-md-10 col-sm-12">
    <div class="card shadow-lg p-5 rounded">
      <p class="title text-center mb-2">Solicitud Enviada</p><br>
      <h4 class="message text-center mb-4">
        Si el correo ingresado está registrado, recibirás un enlace para restablecer tu contraseña.
      </h4>
      

      <p class="signin text-center mt-3">
        <a href="{% url 'security:custom_login' %}" class="loader-load"> Volver a Iniciar Sesión</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
