{% extends 'index.html' %} 
{% load static  %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />

<div class="container py-5 d-flex justify-content-center">
  <div class="col-lg-6 col-md-10 col-sm-12 m">
    <div class="card shadow-lg p-5 rounded">
      <p class="title text-center mb-2">Restablecer Contraseña</p>
      <p class="message text-center mb-4">
        Ingresa tu nueva contraseña y confírmala para restablecerla.
      </p>
     
      <form class="form mt-4" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
  
        <div class="flex mb-3">
          <label>
            <input
              required
              type="password"
              class="input {% if form.new_password1.errors %}is-invalid{% endif %}"
              name="new_password1"
              value="{{ form.new_password1.value|default_if_none:'' }}"
            />
            <span>Nueva Contraseña</span>
            <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
          </label>
        </div>

        <div class="flex mb-3">
          <label>
            <input
              required
              type="password"
              class="input {% if form.new_password2.errors %}is-invalid{% endif %}"
              name="new_password2"
              value="{{ form.new_password2.value|default_if_none:'' }}"
            />
            <span>Confirmar Nueva Contraseña</span>
            <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
          </label>
        </div>

    
        <button class="submit btn w-100" type="submit">
          Restablecer Contraseña
        </button>
        <p class="signin text-center mt-3">
          ¿Recordaste tu contraseña?
          <a href="{% url 'security:custom_login' %}" class="loader-load">Iniciar Sesión</a>
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
