{% extends 'index.html' %} {% load static socialaccount %} {% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />

<div class="container py-5 d-flex justify-content-center">
  <div class="col-lg-6 col-md-10 col-sm-12 m">
    <div class="card shadow-lg p-5 rounded">
      <p class="title text-center mb-2">Restablecer Contraseña</p>
      <p class="message text-center mb-4">
        ¡Ingresa tu email para restablecer tu contraseña!
      </p>
      <a href="{% url 'security:custom_login' %}" class="loader-load">Iniciar Sesión</a>
    </div>
  </div>
</div>
{% endblock %}
